<!-- Load: jQuery from Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Load: FitVids - making videos responsive -->
<script src="https://cdn.jsdelivr.net/fitvids/1.1.0/jquery.fitvids.js"></script>

<!-- Load: Fancybox - preview images on blog article and pages -->
<script defer src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<!-- Load: Materialize minified javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Load: Main - site wide script -->
<script type="text/javascript" src="{{ '/assets/js/theme.js?v=3774fbbd02' | relative_url }}"></script>

<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
    crossorigin="anonymous"></script>