<div class="col l3 hide-on-med-and-down center-align">
    <div class="sidebar">
        <div class="card-panel grey lighten-5">
            <div class="row jngt-sidebar-space-top jngt-sidebar-space-bottom">
                <div class="col-md-12">
                    <a class="twitter-timeline" href="https://twitter.com/technicalissues"
                        data-widget-id="627289384950349824">Tweets by @technicalissues</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>