{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $paginator := .Paginate $posts }}
<div class="col l9 m12 s12">
    <div class="content-wrapper">
        {{ range $i, $page := $paginator.Pages }}
            {{ $isFirst := and (eq $paginator.PageNumber 1) (eq $i 0) }}
            {{ partial "archive-single.html" (dict "Page" $page "IsFirst" $isFirst) }}
        {{ end }}
        {{ partial "paginator.html" $paginator }}
    </div>
</div>
{{ partial "sidebar-author.html" . }}
{{ end }}
